/*
   header
 */
body{
    font-family: 'Battambang', Helvetica,Arial,sans-serif !important;
}
.dropdown-menu{  left:auto !important; right:0px !important;  padding:5px !important;}
.auto-hide1,
.auto-hide{
    display: none !important;
}
.wrap-home{
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-radius: 4px;
}
.logo-home{
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}
.home-menu{
    float: left;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 0px;
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
}
.home-menu li{
    padding: 10px;
    float: left;
    border-left: 1px solid #dadada;
    list-style-type: none;
}
.home-menu li.active{
    background: #428bca;
}
.home-menu li a{ color: #333333;}
.home-menu li.active a{ color: #ffffff;}

.home-group{
    border-bottom: 1px solid #DDDDDD;
}
.navbar{
    min-height: 40px !important;
    margin-bottom: 0px !important;
}
.header .navbar-collapse{ padding-right: 0px !important;}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 40px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

label{font-weight: 100 !important; cursor: pointer;}
.navbar-nav>li{ list-style: none;  line-height: 38px;}
.header .navbar-nav>li>a{
    padding: 6px 7px !important;
    border-right: 1px solid #dadada;
}
.navbar-light .navbar-nav .nav-link{
    color: #333 !important;}
.header img{ max-width: 50% }
.content{ /*border: 1px solid #DDDDDD;*/ }
.form-group-post{
    border: 1px solid #DDDDDD;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.form-group-post h4{
    text-decoration: underline;
}
.form-group-post h3{
    color: #153899;
    font-size: 22px !important;
}

.nextBtn{
    margin-bottom: 20px !important;
}

.footer{
    float: left;
    width: 100%;
    padding: 5px 0px;
    margin-top: 50px;
    background: #F6F6F6;
    border-top: 1px solid #DDDDDD;
    font-size: 14px;
}
.footer img{
    float: left;
    max-width: 100%;
    padding-right: 60px;
}
.footer .footer-develop{
    text-align: center;
    line-height: 65px;
}

.tb_grid td{
    padding: 4px;
}
.form-control{
    border-radius: 2px !important;
}
select.form-control:not([size]):not([multiple]){ height: auto !important; }
.table>thead>tr>th{ border-bottom: 1px solid #dadada !important;
    text-align: center; }
.has-noted{ color: #dc3545; }
/*selct2*/
.select2-container--default .select2-selection--single{
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single{
    height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{  line-height: 35px !important;}
.select2-container--default .select2-selection--single{ border-color: #cccccc;}
.has-error .select2-selection--single{  border: 1px solid #a94442 !important;}
.select2-container--default{ background-color: transparent;}
select[readonly].select2-hidden-accessible + .select2-container--default {
    background-color:#eee !important;
    box-shadow: none;
    pointer-events: none;
    touch-action: none;
}
.alert1{
    display: none;
}
.alert{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    padding: 10px 30px !important;
}
.msg{
    position: fixed;
    margin: -34px auto;
    right: 0;
    left: 0;
    z-index: 1;
    width: 44%;
    line-height: 13px;
}
input[type=radio]{
    float: left;
}
.error{
    color: #a94442;
}
.li-none{ padding-left: 10px;}
.li-none li{ list-style-type: none;}
.electric_type li{
    list-style-type: none;
    padding: 0px 0px 4px 0;
}
.debt_question_group li,
.debt_question li{ list-style-type: none}
.debt_question_group,
.debt_question{
    float: left;
}
.debt_question{ padding-left: 25px;}
.debt_question_group label{ width: 100%;
    float: left;}
.data-list{
    float: left;
    width: 100%;
    border: 1px solid #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
}
.header{ border-color: #dddddd !important;}
.table-home{
    float: left;
    width: 100%;
}
.table-home tr td{
    vertical-align: middle;
    padding-right: 10px;
}

.new_rows_1 tr td,
.new_rows_2 tr td,
.new_rows_3 tr td,
.new_rows_4 tr td,
.new_rows_5 tr td,
.new_rows tr td{text-align: center;}
.table tr td{  vertical-align: middle !important;  }
.table .form-group{
    margin: 5px 4px !important;}
.add_hide1{
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px !important;
    padding: 10px 30px !important;
    position: relative;
}
.form-control-custome{
    border:1px solid #dadada;
    border-radius:2px;
    padding:4px;
}
.input-group-addon{font-size:12px !important;}
.form-control-custome.has-error{ border-color: #a94442 !important;}
.btn{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;}
/*====================
   - user-mangement
 */
.user-mangement{
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.head-title-add{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.user-mangement .table{
    margin-bottom: 10px !important;
}
.pagination{
    margin: 0px !important;
    float: right;
}
fieldset.scheduler-border {
    border: 1px solid #dddddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.user-table{
    float: left;
    width: 100%;
}
.user-table tr td{
    text-align: right;
    padding: 10px;
}
.hospital_title{ margin-bottom: 25px;}
.tooltip > .tooltip-inner {background-color: #428bca;}

#datatable_wrapper #datatable_filter{  float: right;  }
#datatable_wrapper #datatable_length{  float: left;}
#div2 table tr th{
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.disable{
    cursor: not-allowed;
    color: #8888;
    pointer-events: none;
}
.disable input{
    cursor: not-allowed;
    color: #8888;
    pointer-events: none;
}
.dataTables_wrapper tr td:nth-child(1),
.dataTables_wrapper tr td:nth-child(7){text-align: center;}